div {
  position: absolute;

  div[contenteditable="true"] {
    left: 0;
    top: -22px;
    position: absolute;
    min-width: 80%;
    text-align: left;
    padding: 2px;
    font-size: small;
    white-space: nowrap;

    &:focus {
      outline: none;
      background: lightgreen;
    }
  }
}

.rectangle {
  color: aqua;
  opacity: 0.2;
  border: 1px solid #000;
  height: 100%;
  width: 100%;
}
